# CodeIgniter 4 specific
writable/cache/*
writable/logs/*
writable/session/*
writable/uploads/*
writable/debugbar/*

# Environment files
.env
.env.backup

# IDE Files
.idea/
.vscode/
nbproject/
.DS_Store

# Misc
vendor/
*.log
